.contact-container{
    display: grid;
    grid-template-columns: 1fr;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input, textarea{
    width: 100%;
    padding: 0.5rem;
    font-size: 15pt;
    border-radius: 0.5rem;
    background: rgba(77, 181, 255, 0.12);
    border: 2px solid var(--color-primary-variant);
    resize: none;
    color: var(--color-white);
}
@media screen and (max-width: 1024px){
    .container.contact-container{
        gap: 2rem
    }
}
@media screen and (max-width: 600px){
    .container.contact-container{
        width: var(---container-width-sm);
        margin: 0 1rem;
    }
}